#chessBoard{
    display: inline-block;
}


.cell {
    border: solid 1px white;
    float: left;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
}

.figure {
    cursor: pointer;
}

.cell-water{
    background-color: dodgerblue;
}

.cell-dirt{
    background-color: saddlebrown;
}

.cell-wall {
    background-color: black;
}

.cell-swamp {
    background-color: darkolivegreen;
}