body {
    padding-left: 100px;
    padding-right: 100px;
}

div {
    border: solid 1px black;
    padding: 5px;
}

.char-class {
    background-color: gray;
}

.hp-col {
    width: 16.5%;
}

.cont{
    height: 95%;
    width: 95%;
    margin: auto;
}

.other-label{
    background-color: gray;
    text-align: center;
    font-weight: bold;
}

.other-box{
    background-color: lightgray;
}

.stats {
    text-align: center;
}

.name-class {
    text-align: left;
}

.cols {
    margin-bottom: 2px;
}