body {
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    padding: 0;
}

.col {
    padding: 0 10px 0 10px;
}

.hp-col {
    text-align: center;
    width: 16.5%;
}

.health {
    font-size: 35px;
    font-weight: bold;
}

.other-label{
    padding: 5px 0 5px 0;
    background-color: gray;
    text-align: center;
    font-weight: bold;
}

.other-box{
    background-color: lightgray;
    padding: 10px;
}

.armor-field{
    margin-bottom: 10px;
}

.stats-label {
    font-size: 20px;
}

.stats {
    text-align: center;
    font-size: 35px;
    padding: 0;
}


.name-class {
    text-align: left;
    padding-left: 10px;

}


.character-name {
    font-size: 40px;
    background-color: gray;
}


.label-box {
    padding: 10px;
}