body {
    padding-left: 100px;
    padding-right: 100px;
}

div {
    border: solid 1px black;
    padding: 5px;
}

.char-name {
    background-color: #198C63;
    display: flex;
}

.char-class {
    background-color: #198C63;
    display: flex;
}

.hp-col {
    width: 16.5%;
}

.cont{
    height: 95%;
    width: 95%;
    margin: auto;
}

.other-label{
    background-color: gray;
}

.other-box{
    background-color: lightgray;
}