.header {
    background-color: #cccccc;
}


.header__main {
    font-weight: bold;
    color: white;
    max-width: 70%;
    margin: 0 auto;
    background-color: #4c4c4c;
}

.p-3:hover {
    background-color: #8c8c8c;
    cursor: pointer;
}

.p-3 a {
    color: white;
    text-decoration: none;
}

.red-button {
    background-color: #e34a4e;
}

.p-3 a:hover {
    color: white;
    text-decoration: none;
}

