{% extends 'base.html.twig' %}
{% block body %}
<table>
    {% for item in games %}
        <tr>
            <td> {{ item.id }} </td>
            <td> {{ item.description }} </td>
            <td> {{ item.gameadmin }} </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}