{% extends 'base.html.twig' %}
{% block body %}
    <div class="container p-0" style="max-width: 70%; margin: 0 auto;">
        {% for item in games %}
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col"><a href="{{ path("gameboard_by_Id", {id: item.id}) }}">{{ item.id }}</a></div>
                        <div class="col">{{ item.description }}</div>
                        <div class="col">{{ item.gameadmin }}</div>
                    </div>
                </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}