{% extends 'base.html.twig' %}


{% block body %}
    <p style="padding: 100px 300px"> Now, repository is in work , we try fast complete :) </p>
    <p style="padding: 0px 300px; float: right"> <span class="badge badge-info">Info</span> Your roles in system: <br>{% for role in app.user.roles %}
            {{ role }}
            {% if role == 'ROLE_ADMIN' %}
                <a href="/admin">Admin Panel</a>
                <a href="/admin/help/createUser">Create User</a>
            {%endif %}
    {% endfor %}</p>

{% endblock %}
