{% extends 'base.html.twig' %}
{% block body %}
    <table>
        <thead>
        <tr>
            <td>
                id
            </td>
            <td>
                name
            </td>
            <td>
                roles
            </td>
            <td>
                last visited
            </td>
        </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.id }}</td>
                    <td>{{ member.username }}</td>
                    <td>
                        <select name="" id="">
                            {% for role in member.roles %}
                                <option value="">{{ role }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">back to main menu</a>
{% endblock %}